canvas {
  display: block;
}

// Slider

$line-height: 6px;
$slider-color: #aa7777;

button {
  border: none;
  background: none;
  &:hover {
    cursor: pointer;
  }
}
.animation {
  border: 1px solid #dcdcdc;
  margin: 1em;
}
.slider {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
  .slider-line {
    background-color: #cccccc;
    height: $line-height;
    width: 100%;
  }
  .slider-progress {
    background-color: $slider-color;
    height: $line-height;
    position: absolute;
    width: 40%;
  }
  .slider-thumb {
    position: absolute;
    background-color: $slider-color;
    background-image: radial-gradient(circle at 60% 40%, lighten($slider-color, 12%) 10%, $slider-color 95%);
    left: 0;
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    // border: 2px solid #444;
    border-radius: 9px;
  }
}
